@media screen and (max-width: 767px) {
	#cmtTbl > .table > tbody > tr > td {
		white-space: normal;
	}
}

.table-responsive {
    overflow-x: auto;
}
.smallSize {
	font-size: 12px;
}
.headline{
	font-style: italic;
	font-size: 12px;
}
p.headline {
	font-size: 14px;
}
.table > tbody > tr > td {
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}

body {
	padding-top: 70px;
	background-color: #e3e3e3;
}
nav.navbar {
	border-radius: 0px;
	display: block;
}
div {
	display: block;
}
div.uploadImg {
	padding-right: inherit;
	padding-left: inherit;
	margin-top: -10px;
	margin-bottom: 10px;
}
div.friendAvatar {
	width: 25%;
	float: left;
}
div.friendName {
	width: 75%;
	padding-left: 10px;
	float: right;
	word-wrap: break-word;
}
div.friendList {
	padding-bottom: 0px;
}
div.articleBtns {
	margin-top: 5px;
	margin-bottom: 40px;
}
div.contentAvatar {
	border-color: #337ab7;
	background-color: #fff;
}
div.contentArtical {
	border-color: #337ab7;
	background-color: #fff;
}
div.logIn {
	padding-top: 25px;
}
.cmtTs {
	color: #a9a9a9;
	font-size: 11px;
}
.cmtEdit {
	vertical-align: top;
	padding-left: 10px;
	font-size: 11px;
	text-decoration: none;
}
div.friendBtn {
	padding-bottom: 10px;
}
button.btn {
	white-space: normal !important;
	overflow: hidden; 
}
button.logIn {
	height: 34px;
	width: 100%;
	min-width: 60px;
}
a.friendList {
	font-size: 16px;
	color: #337ab7;
	text-decoration: none;
}
a.displayName {
	color: #fff;
	text-decoration: none;
}
input {
	line-height: normal;
	max-width: 100%;
}
input.profileUpload {
	padding-top: 10px;
	display: inline;
}
textarea.newpost { 
	resize:none; 
}
img.friendAvatar {
	margin-bottom: 2px;
}
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
td.profileKey {
	color: #337ab7;
	font-weight: bold;
	width: 40%
}
td.profileValue {
	font-weight: bold;
	width: 60%
}
td.cmtAvatar {
	vertical-align: top !important;
}
tr.cmtRow > td {
	border: 0px !important;
}
p.articalTS {
	color: #a9a9a9;
	font-size: 10px;
	margin-top: -10px;
}
button.headlineBtn{
	margin-top: -2px;
}
button.cmtPost{
	margin-top: -2px;
	margin-left: 1%;
	height: 32px;
	width: 9%;
}
input.cmtText{
	width: 90%;
	height: 32px;
}
hr {
	margin-bottom:5px !important; 
	margin-top:10px !important;
}
span.cmtAuthor {
	margin-right: 8px;
}
span.cmtText {
	font-size: 12px;
}
textarea.newCmt {
	width: 100%;
}
button.feedEdit {
	margin-left: 5px;
	margin-right: 5px;
}